:root{
  --dark-green: #1A2F19;
  --light-green: #9CE550;
  --cream: #FAF8EE;
  --card-green: #233C22;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
  margin: 0;
}

@font-face {
  font-family: sf-serif;
  src: url(assets/fonts/serif-medium.otf);
}

@font-face {
  font-family: sf-sans;
  src: url(assets/fonts/sans-medium.otf);
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--dark-green);
  color: var(--light-green);
  font-size: 1.3125rem;
  font-family: sf-sans, system-ui, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


#root, #__next {
  isolation: isolate;
}

img{
  border-radius: 2rem;
  border: 2px solid var(--cream);
}

h1{
  color: var(--cream);
  font-family: sf-serif, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 3.5rem; /*make this fluid */
  line-height: 100%;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

h2{
  font-weight: 400;
  line-height: 120%;
  font-size: 1.5 rem;
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 6rem;
  overflow: hidden;
  box-sizing: border-box;
}


/* ------------------------------------------ LEFT SIDE -------------------------------------------- */

.left{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  animation: blurIn 0.5s ease-out;

}

.left.show{
    opacity: 1;
    filter: blur(0);
}

a{
  font-family: sf-serif, 'Times New Roman', serif;
  text-decoration: none;
  color: var(--light-green);
  font-size: 2rem;
}

.diet-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;
  width: 100%;
  margin-bottom: 3rem;
}

.diet-flex{
  display: flex;
  align-items: center;
  width: 200px; 
  box-sizing: border-box;
  gap: 4px;
}

.diet-icon{
  height: 24px;
  width: 24px;
  border: none;
}

/* ------------------------------------------ RIGHT SIDE -------------------------------------------- */

.right {
  width: 45%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.marquee-column {
  width: 50%;
  height: 100vh;
  overflow: visible;
  position: relative;
  rotate: 8deg;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  
}

.marquee-item {
  flex: 0 0 auto;
  width: 100%;
  padding: 1rem;
  position: relative;
  
}

.marquee-item img {
  width: 100%;
  height: auto;
  display: block;

}

.marquee-item .tag{
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  background-color: var(--light-green); 
  color: var(--dark-green); 
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}


/* ------------------------------------------ FORM -------------------------------------------- */

.join-form {
  max-width: 100%;
  background-color: var(--card-green);
  /* border: 2px solid var(--cream); */
  padding: 32px;
  border-radius: 32px;

}

.join-form h2{
  color: var(--cream);
  max-width: 400px;
  font-size: 1.3125rem;
}


.input-container {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 2px solid var(--light-green);
  padding: 8px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.flag {
  padding: 0 10px;
  font-size: 1.5rem;
}

#phone {
  flex-grow: 1;
  background: transparent;
  border: none;
  color: var(--cream);
  font-size: 1.3125rem;
  padding: 10px;
}

#phone::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.submit-btn {
  background-color: var(--light-green);
  border: none;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:disabled {
  background-color: #7ab33e;
  cursor: not-allowed;
}

.arrow, .checkmark {
  color: var(--dark-green);
  font-size: 20px;
}

.btn-spinner {
  border: 2px solid #1A2F19;
  border-top: 2px solid #9CE550;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}


.arrow {
  color: var(--dark-green);
  font-size: 20px;
}

.form-note {
  font-size: 16px;
}



/* ------------------------------------------ ANIMATIONS -------------------------------------------- */

@keyframes blurIn {
  0% {
      filter: blur(10px);
      opacity: 0;
  }
  100% {
      filter: blur(0);
      opacity: 1;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-green); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  transition: opacity 0.8s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.slide-up {
  transform: translateY(-100%);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--light-green);
  border-top: 5px solid var(--dark-green);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/* ------------------------------------------ RESPONSIVE -------------------------------------------- */

@media (max-width: 1024px){

  h1{
    font-size: 2.5rem;
  }

  h2{
    font-size: 1.125rem;
  }

  .main-container{
    flex-direction: column;
    padding: 1rem;
  }

  .left{
    width: 100%;
    height: 60%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .right {
    width: 100%;
    height: 40%;
    overflow: hidden;
    flex-direction: column;
  }

  .marquee-column{
    height: 100%;
    width: 100%;
    rotate: 0deg;
  }

  .marquee{
    flex-direction: row;
    height: 100%;
  }
  
  .marquee-item {
    flex: 0 0 auto;
    height: 100%;
    padding: 1rem;
    position: relative;
    width: auto;
    
  }
  
  .marquee-item img {
    height: 100%;
    width: auto;
    display: block;
  
  }


  #column-2{
    display: none;
  }

}